body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
padding: 10px 20px;
font-size: 25px;
cursor: pointer;

}

.btn{
font-weight: bold;
border-radius: 25px;
background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, darkblue, darkorchid) border-box;
border-radius: 50em;
border: 4px solid transparent;
}